<header id="header">
	<div class="h-container clear-fix">
		<div class="logo pull-left">
			<h3>
				<a href="{{ site.baseurl }}/" title="{{ site.title }}">Alan's Blog</a>
			</h3>
		</div>

		<h3 class="subtitle pull-left">- Learning, Drilling and Upgrading</h3>

		<div class="nav-bar">

			<a href="{{ site.baseurl }}/" class="home">Home</a>

			{% for page in site.pages %}

			  {% if page.title == 'About' %}

				<a href="{{ page.url }}" class="about">{{ page.title }}</a>

				{% else if page.title == '' %}

				<a href="{{ page.url }}" class="other">{{ page.title }}</a>

				{% endif %}

			{% endfor %}

		</div>
		
	</div>
</header>